@model Examination.ViewModels.ExamViewModel

<h2>Create Exam</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Subject" class="control-label"></label>
        <input asp-for="Subject" class="form-control" />
    </div>

    <div id="questions">
        <!-- Questions will be dynamically added here -->
    </div>

    <div class="form-group">
        <button id="addQuestion" type="button">Add Question</button>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <script src="~/js/exam.js"></script>
}